body {
    font-family: Rubik;
    font-size: 16pt;
    background-color: #FFDE03;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

ul {
    list-style-type: none;
}

.todo-list {
    display: flex;
    flex-direction: column;
}

.todo-item {
    padding: 10px;
    margin: 3px;
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    position: relative;
}

.todo-item.pending::after {
    content: '◯';
    position: absolute;
    right: 10px;
    top: 10px;
    color: blue;
}

.todo-item.completed::after {
    content: '✔';
    position: absolute;
    right: 10px;
    top: 10px;
    color: blue;
}

.todo-item.deleted {
    text-decoration: line-through;
    border: 1px solid salmon;
    color: salmon;
}
